.sticky {
    top: 0;
    position: fixed !important;
}

.reveal-in {
    transition: opacity 0.4s ease-in-out;
}

header {
    #navbar {
        background: $primaryColor;
        position: absolute;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        padding: 15px;
        width: 800px;
        left: 0;
        right: 0;
        opacity: 0;
        border: 1px solid $secondaryColor;
    
        .expand-icon {
            display: none;
        }

        a {
            &:hover {
                color: $blueColor;
                @include easeOut();
            }
        }
    }
}